:root{
    --bg1:#0d1117; 
    --bg2:#1c1f26; 
    --accent:#00c4d6; 
    --muted:#9ba3b4;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
  
body{
    font-family:'Inter',sans-serif;
    background:linear-gradient(135deg,var(--bg1),var(--bg2));
    color:#e6eef6;
    line-height:1.6
}
  
.container{
    max-width:1000px;
    margin:0 auto;
    padding:24px
}

header{
    text-align:center;
    padding:20px 0
}

header h1{
    font-size:28px;
    font-weight:700
}
  
header p{
    color:var(--muted)
}

nav{
    margin-top:16px;
    display:flex;
    gap:12px;
    justify-content:center;
    flex-wrap:wrap
}

nav a{
    color:#e6eef6;
    text-decoration:none;
    padding:6px 10px;
    border-radius:8px;
    
}

nav a:hover{
    background:rgba(255,255,255,0.06)
}

section{
    margin-top:40px
}

section h2{
    font-size:22px;
    margin-bottom:12px;
    color:var(--accent)
}

.card{
    background:rgba(255,255,255,0.03);
    padding:18px;
    border-radius:12px;
    margin-bottom:16px
}

ul{
    list-style:disc;
    margin-left:20px
}

.skills,.projects,.contact{
    display:flex;
    flex-wrap:wrap;
    gap:10px
}

.skill,.proj,.contact-item{
    background:rgba(255,255,255,0.04);
    padding:10px 12px;
    border-radius:8px;
    font-size:14px;
    color:var(--muted)
}

#certificacoes a {
  color: #ffffff;        
  text-decoration: none;
}
#certificacoes a:hover {
  color: #00c4d6;       
  text-decoration: none;
}

.proj{
    flex:1 1 calc(50% - 10px);
    min-width:220px
}

.proj a {
    color: #ffffff;
    text-decoration: none;
}

.contact-item a{
    color:var(--accent);
    text-decoration:none
}

footer{
    text-align:center;
    margin-top:40px;
    color:var(--muted);
    font-size:14px;
    padding-bottom:20px
}
