/*estilização do corpo*/
body {
  width: auto;
  height: auto;
  
  background-color: #333;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*cabeçalho do site*/
header {
  background-color: #222;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 2.8em;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;

  color: #00e0ff;
  transition: 0.2s ease-in-out;
}
header h1:hover {
  color: #00e0ff;
  text-shadow: 0 0 4px #00e0ff;
}

/*estilização do corpo que contem as informações do site*/
.container {
  flex-wrap:wrap; /*Quebra os elementos um do lado do outro.*/
  justify-content: space-evenly; /*Distribui os elementos igualmente no espaço disponível.*/
  gap: 50px; /*Insere um espaço nas linhas e colunas entre os elementos.*/
  padding: 25px 100px; /*Margens internas superior e inferior de 0, e esquerda e direita de 40px.*/
  position: relative;

}
.container p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; /*espessura da fonte*/
  text-align: justify; /*alinhamento do texto*/
  line-height: 1.5; /*define a altura da linha*/
}
.container h2{
  text-transform: uppercase; /*deixa tudo maiusculo*/
  font-family: Arial, Helvetica, sans-serif;
}
.container li{
  font-size: 25px; /*estilizando os titlos do trampo*/
  font-family: Arial, Helvetica, sans-serif;
}
.container a{
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}
/*deixando o texto "neon" quando o cursor no mouse passa por cime*/
.container a:hover{
  color: #00e0ff;
  text-shadow: 0 0 4px #00e0ff;

}

/*estilização da imagem*/
.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 400px; /*estilização da borda*/
  height: 400px; /*estilização da borda*/
  border-radius: 200px; /*estilização da borda*/
  
  cursor: pointer; /*estilização do cursor do mouse quando passa por cima da imagem*/
  border: 1px #00e0ff solid; /*cor da borda da imagem*/

  object-fit: cover; /*Centraliza a imagem dentro do espaço disponível.*/
}
img:hover {
  box-shadow: 0px 0px 6px #00e0ff;
}

/*estilização do roda pé do site*/
footer {
  background-color: #222;
  padding: 25px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}
